{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> <b> {{ movie.title }} ({{ movie.year }}) </b> </h1>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.poster }}" alt="Poster">
        </div>
        <div class="col-md-8" style="font-size: 15px">
            <div class="box">
                {% if added %}
                <button class="btn btn-success"> Added to Watch Later </button>
                {% else %}
                <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
                {% endif%}
            </div>

            <h3> <b> Director </b> </h3>
            <p> {{ movie.director }} </p>

            <h3> <b> Production </b> </h3>
            <p> {{ movie.production }} </p>

            <h3> <b> Ratings: </b> </h3>
            {% for rating in movie.ratings %}
            <li> {{ rating.Source }}: {{ rating.Value }} </li>
            {% endfor %}

            <h3> <b> Released </b> </h3>
            <p> {{ movie.released }} </p>

        </div>
    </div>

    <div style="font-size: 15px">
        <h2> <b> Plot </b> </h2>
        <p> {{ movie.plot }} </p>

        <h2> <b> Actors </b> </h2>
        <p> {{ movie.actors }} </p>

        <h2> <b> Awards </b> </h2>
        <p> {{ movie.awards }} </p>
    </div>

</div>
{% endblock %}
