{% extends 'lab_8/layout/base.html' %}
{% load static %}
{% block content %}
<center>
<div id="lab8">
<button style="margin:20px"onclick="facebookLogin()">Login via Facebook</button>
</div>
</center>
{% endblock%}
