{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
</head>
  <body>
    <div style="background-color:#41b548" class="header">
      <div class="left-side">
        <div class="title">
          <p style="font-size:150%">BukaKapak</p>
        </div>
  </body>
</html>
