{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -100px;
		}
</style>
<div class="center_screen" link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	{% load static %}
	<!--<center><img src="{% static "lab_2/foto.JPG" %}" width="200" height="200"></center>-->
    <br><p style="text-align: center" class="status" id="test" link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">Hello, this is {{ name }}. {{ content }}</p><br>
</div>
{% endblock %}