{% extends "lab_9/layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1 style="font-weight:bold; font-style:normal;"> Masuk BukaKapak </h1>
                <p style="color:black"class="text-info"> Gunakan <b> akun SSO kamu </b> untuk login </p>
            </div>


            <form action="{% url 'lab-9:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> Your username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p style="margin-bottom:20px">
                    <label for="password"> Your password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" style="background-color:#41b548; border-style=solid; border-color:#41b548;"class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}
