<nav class="navbar fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="font-size:150%; color:white" class="navbar-brand" href="">Beranda</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINKS -->
        <li class="nav-item" >
            <a style="font-size:130%; color:white" class="nav-link" href="friend-list">Daftar Teman</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
