button{
  background-color: #3b5998;
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border-color: #3b5998;
  border-style: solid;
  padding: 1rem;

}

input {
  margin: auto;
  width: 60%;
  padding: 3rem;
  text-align: center;
}

img {
  margin-top: 3rem;
}

.feed {
  background-color: white;
  width: 50%;
  padding: 3rem;
  margin: 3rem;
}
