{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
</head>
  <body>
    <div class="header">
      <div class="left-side">
        <div class="title">
          <p style="font-size:150%">Pesbukers</p>
        </div>
      </div>
      <div class="right-side">
        <div class="menu">
            <button id="kontol" onclick="facebookLogout()">Logout</button>
        </div>
      </div>
      </div>
  </body>
</html>
